@import "../../../../../styles.scss";

.my-pagination::ng-deep {
    .page-item .page-link {
        color: black;
        border: none;
    }
    .page-item.active .page-link {
        color: #ffffff;
        background-color: $good-night-gray !important;
        
    }
}