/* You can add global styles to this file, and also import other style files */
$good-night-gray: #485460;
$free-speech-blue: #3c40c6;
$sizling-red: #f53b57;
$vibrant-yellow: #ffd32a;
$minty-green: #0be881;
$green-teal: #05c46b;

*:focus {
    outline: none;
    box-shadow: none;
    border-color: initial;
}
