@import "../../../styles.scss";

.text-uppercase {
    color: $good-night-gray;

    a {
        text-decoration: none;
        color: $good-night-gray;
        &:hover {
            color: $minty-green;
        }
    }
}

.my-card {
    text-decoration: none;
    img {
        opacity: 0.85;
        &:hover {
            opacity: 1;
        }
    }
    &:hover {
        transform: scale(1.025);
    }

    button {
        background-color: $minty-green;
        &:hover {
            background-color: $good-night-gray;
        }
    }
    .fa-shopping-cart {
        background-color: white;
    }
}
