@import "../../../styles.scss";

.text-uppercase {
    color: $good-night-gray;
}

.my-card {
    text-decoration: none;
    img {
        opacity: 0.85;
        &:hover {
            opacity: 1;
        }
    }
    &:hover {
        transform: scale(1.025);
    }
}



button {
    background-color: $minty-green;
    &:hover {
        background-color: $good-night-gray;
    }
}