@import "../../../styles.scss";

.text-uppercase {
    color: $good-night-gray;
}

.my-card {
    text-decoration: none;
}

.my-card:hover {
    opacity: 0.8;
    transform: scale(1.025);
}

button {
    background-color: $minty-green;
    &:hover {
        background-color: $good-night-gray;
    }
}