@import "../../../styles.scss";

.enabled {
    background-color: $minty-green;
    color: white;
    border: $minty-green 2px solid;
     &:hover {
        background-color: white;
        color: $minty-green;
        border: $minty-green 2px solid;
    }
    &:active {
        background-color: $minty-green;
        color: white;
        border: $minty-green 2px solid;
    }
}

.disabled {
    background-color: $minty-green;
    color: white;
    border: $minty-green 2px solid;
}