@import "../../styles.scss";

.table td,
.table th {
    vertical-align: middle;
    text-align: center;
}

.product-title {
    color: $minty-green;
}

i {
    cursor: pointer;
    color: $good-night-gray;

    &:hover {
        transform: scale(1.1);
        color: $minty-green;
    }
}

.buttony {
    background-color: white;
    color: $minty-green;
    border: 2px solid $minty-green;
    &:active {
        background-color: $minty-green;
        color: white;
    }
    &:hover {
        background-color: $good-night-gray;
        color: white;
        &:active {
            background-color: $minty-green;
            color: white;
        }
    }
}
