<div class="container my-5" *ngIf="basket$ | async as basket">
  <ng-container *ngIf="basket.items.length === 0">
    <h3>Please, add some products first.</h3>
  </ng-container>

  <ng-container *ngIf="basket.items.length > 0">

    <!-- Start row -->
    <div class="row mb-5">
      <!-- Start col -->
      <div class="col-md-12 col-lg-12 col-xl-12 ">
        <app-basket-summary
          [items]="(basket$ | async).items"
          [isSummary]="false"
          (deleteItemEvent)="deleteItem($event)"
          (updateQuantityEvent)="updateQuantity($event)"></app-basket-summary>
      </div>

    </div>

    <!-- Order Summary -->
    <div class="row">
      <div class="col-md-6 col offset-6">
        <app-order-totals [totals]="basketTotals$ | async"></app-order-totals>
      </div>
    </div>
    <!-- End Order Summary -->
    <div class="text-right ">
      <button class="btn mt-3 buttony" [routerLink]="['/checkout']" routerLinkActive="router-link-active">
        Proceed to checkout
      </button>
    </div>
  </ng-container>



</div>