@import "../../styles.scss";

.table td,
.table th {
    vertical-align: middle;
    text-align: center;
}

.product-title {
    color: $minty-green;
}

i {
    cursor: pointer;
    color: $good-night-gray;

    &:hover {
        transform: scale(1.1);
        color: $minty-green;
    }
}
