@import "../../../styles.scss";

.custom-control-input:checked {
  & ~ .custom-control-label {
    &::before {
      background-color: $minty-green;

    }

    &::after {
      border:1px solid $minty-green;
      box-shadow: 0 0 0 0.2rem $minty-green;
    }
  }
}

footer {
  button {
    background-color: $good-night-gray;
    color: white;
  }
}

.duration {
  color: $minty-green;
  font-weight: 600;
}
