<ng-container *ngIf="basketTotals$ | async as totals">

    <div class="bg-light p-3">
        <h6 class="text-uppercase mx-auto text-center font-weight-bold">Order Summary</h6>
    </div>
    <div class="p-3">
        <!-- <p class="font-italic my-3">Shipping costs calculated at next step</p> -->
        <ul class="list-unstyled ">
            <li class="d-flex justify-content-between border-bottom my-3">
                <strong class="text-muted ">Order subtotal</strong>
                <strong>{{totals.subtotal | currency}}</strong>
            </li>
            <li class="d-flex justify-content-between border-bottom my-3">
                <strong class="text-muted ">Shipping costs</strong>
                <strong>{{totals.shipping | currency}}</strong>
            </li>
            <li class="d-flex justify-content-between border-bottom my-3">
                <strong class="text-muted ">Total</strong>
                <strong>{{totals.total | currency}}</strong>
            </li>
        </ul>

    </div>
</ng-container>