<main>
  <section class="hero">
    <div class="container">
      <div class="hero-content pb-5 text-center">
        <div class="row">
          <div class="mx-auto col-xl-8 mt-5">I'm baby gluten-free yuccie vexillologist lomo austin wayfarers pug
            kombucha literally 3 wolf moon jean shorts. Echo park palo santo kombucha, craft beer synth messenger bag
            leggings salvia man braid normcore heirloom helvetica literally taxidermy subway tile. Banjo neutra ugh
            synth, shoreditch pinterest iceland drinking vinegar kickstarter cardigan coloring book. </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-6" style="background: rgb(250, 250, 250);">
    <div class="container ">
      <div class="row d-flex align-items-center">
        <div class="text-center text-md-left col-md-4 ">
          <i class="fa fa-map-marker fa-4x my-3 green"></i>
          <h4>Address</h4>
          <p class="text-muted">Lyngbakkevej 25<br>Brabrand, 8220<br>Aarhus, <strong>Denmark</strong>
          </p>
        </div>
        <div class="text-center text-md-left col-md-4">
          <i class="fa fa-phone-square fa-4x my-3 green"></i>
          <h4>Call center</h4>
          <p class="text-muted">Vape normcore try-hard, pork belly knausgaard iPhone twee organic actually fanny pack.
          </p>
          <p class="text-muted"><strong>+45 98 76 54 32</strong></p>
        </div>
        <div class="text-center text-md-left col-md-4">
          <i class="fa fa-envelope fa-4x my-3 green"></i>

          <h4>Electronic support</h4>
          <p class="text-muted">Semiotics craft beer slow-carb jianbing everyday carry tote bag franzen man braid
            leggings.</p>
          <p class="text-muted">
            <strong>info@artnet.flairforce.one</strong>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="py-6">
    <div class="container">
      <header class="mb-5">
        <h2 class="text-uppercase mt-5">Contact form</h2>
      </header>
      <div class="row">
        <div class="mb-5 mb-md-0 col-md-7">
          <form class="">
            <div class="controls">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group"><label for="name" class="form-label">Your firstname *</label><input
                      name="name" id="name" placeholder="Enter your firstname" required="" type="text"
                      class="form-control"></div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group"><label for="surname" class="form-label">Your firstname *</label><input
                      name="surname" id="surname" placeholder="Enter your lasttname" required="" type="text"
                      class="form-control"></div>
                </div>
              </div>
              <div class="form-group"><label for="email" class="form-label">Your email *</label><input name="email"
                  id="email" placeholder="Enter your email" required="" type="email" class="form-control"></div>
              <div class="form-group"><label for="message" class="form-label">Your message for us
                  *</label><textarea rows="4" name="message" id="message" placeholder="Enter your message" required=""
                  class="form-control"></textarea></div><button type="submit" class="btn btn-outline-dark">Send
                message</button>
            </div>
          </form>
        </div>
        <div class="col-md-5">
          <p class="text-muted">Jianbing ramps bicycle rights skateboard raclette kickstarter, edison bulb food truck.
            Blue bottle banjo locavore post-ironic irony, man braid pabst forage vexillologist ramps celiac drinking
            vinegar chambray art party prism. Hashtag pop-up gluten-free, copper mug put a bird on it asymmetrical
            authentic pug. </p>
          <p class="text-muted">Truffaut mustache tbh hot chicken put a bird on it 3 wolf moon literally pug deep v
            messenger bag squid austin. Pug coloring book biodiesel keffiyeh butcher literally street art aesthetic
            helvetica retro mumblecore tousled XOXO prism. </p>
          <div class="social ">
            <ul class="list-inline d-flex justify-content-between">
              <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-twitter fa-2x green"></i></a>
              </li>
              <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-facebook fa-2x green"></i></a>
              </li>
              <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-instagram fa-2x green"></i></a>
              </li>
              <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-pinterest fa-2x green"></i></a>
              </li>
              <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-vimeo fa-2x green"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- open street map -->
  <div id="hotel_map" class="mt-5 map" tabindex="0"></div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img"
            viewBox="0 0 24 24" focusable="false">
            <circle cx="12" cy="12" r="10"></circle>
            <path
              d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94">
            </path>
          </svg>
          <small class="d-block mb-3 text-muted">© 2017-{{date}}</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</main>