<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <h5>Sort</h5>
            <select class="custom-select" (change)='onSortSelected($event.target.value)'>
                <option *ngFor="let item of sortOptions"
                    [value]='item.value'>
                        {{item.name}}
                </option>
            </select>

            <h5 class="mt-5">Types</h5>
            <ul class="list-group">
                <li class="list-group-item"
                    *ngFor="let item of types" 
                    [class.active]="typeSelected === item.id" 
                    (click)="onTypeSelected(item.id)">
                        {{item.name}}
                </li>
            </ul>
            

            <h5 class="mt-5">Currents</h5>
            <ul class="list-group">
                <li class="list-group-item"
                    *ngFor="let item of currents" 
                    [class.active]="currentSelected === item.id" 
                    (click)="onCurrentSelected(item.id)">
                        {{item.name}}
                </li>
            </ul>

            <!-- <h5 class="mt-5">Artists</h5>
            <select class="custom-select" (change)="onAuthorSelected($event.target.value)">
                <option 
                    *ngFor="let item of authors"
                    [value]='item.id'>
                        {{item.name}}
                </option>
            </select> -->
        </div>
        
        
        <div class="col-md-9">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <header>
                    <span>Showing <b>10</b> of <b>16</b> products</span>
                </header>
                <div class="form-inline">
                    <input #search type="text" class="form-control" placeholder="Search...">
                    <button type="button" class="btn btn-outline-primary mx-2" (click)="onSearch()">Search</button>
                    <button type="button" class="btn btn-outline-primary" (click)="onSearchReset()">Reset</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-4 my-3" *ngFor="let item of products">
                    <app-product [product]='item'></app-product>
                </div>
            </div>
        </div>
    </div>
</div>