@import "../../styles.scss";

.active {
    background-color: $good-night-gray;
}

.list-group-item {
    border: none;
    cursor: pointer;
}

.list-group-item:hover {
    transform: scale(1.025);
    opacity: 0.8;
}


