@import "../../../styles.scss";

.site-header {
    background-color: rgba(0, 0, 0, 0.85);
    a {
        color: lightgray;
        text-decoration: none;
        cursor: pointer;

        &.active {
            color: $minty-green;
            transform: scale(1.1);
            font-weight: 600;
        }

        &:hover {
            color: white;
            transform: scale(1.1);
        }

        &.dropdown-item {
            color: black;

            &:hover {
                color: white;
                background-color: $minty-green;
                transform: scale(1.1);
            }
        }
    }

    .icon {
        color: lightgray;
        cursor: pointer;
        &:hover {
            color: white;
            transform: scale(1.1);
        }
    }

    .logo {
        color: lightgray;

        &:hover {
            color: white;
            transform: rotate(-45deg) scale(1.2);
        }
    }

    .cart-no {
        font-size: x-small;
        color: indigo;
        font-weight: bold;
        text-align: center;
        position: absolute;
        min-height: 1rem;
        min-width: 1rem;
        top: -5px;
        left: 10px;
        background-color: $minty-green;
        border-radius: 50%;
    }
}
