<nav class="site-header sticky-top py-2">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a routerLink="/" class="logo py-2" aria-label="Product">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img"
        viewBox="0 0 24 24" focusable="false">
        <circle cx="12" cy="12" r="10"></circle>
        <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94">
        </path>
      </svg>
    </a>
    <div class="d-flex align-items-center   ">
      <a class="mx-3" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="mx-3" routerLink="/shop" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Products</a>
      <a *ngIf="admin" class="mx-3" routerLink="/test-error" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">TestError</a>
      <a *ngIf="admin" class="mx-3" routerLink="/test-error" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Admin</a>
      <a class="mx-3" routerLink="/contact" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Contact</a>
    </div>

    <div class="d-flex justify-content-between align-items-center links">
      <div class="position-relative mr-5 icon" (click)="navigateToBasket()">
        <i class="fa fa-shopping-cart "></i>
        <div *ngIf="(basket$ | async)?.items.length > 0" class="cart-no">
          {{(basket$ | async).items.length }}</div>
      </div>

      <ng-container *ngIf="user$ | async as user">
        <div class="dropdown" dropdown>
          <a dropdownToggle class="dropdown-toggle">
            Welcome, {{user.userName}}
          </a>

          <ul id="dropdown-menu-dividers" *dropdownMenu class="dropdown-menu" role="menu"
            aria-labelledby="button-menu-dividers">
            <li role="menuitem"><a class="dropdown-item" routerLink="/basket"><i class="fa fa-shopping-cart mr-3"></i>
                View
                basket</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="/order"><i class="fa fa-history mr-3"></i> View
                orders</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#" (click)="logout()"><i
                  class="fa fa-sign-out mr-3"></i>Logout</a>
            </li>
          </ul>
        </div>
      </ng-container>

      <ng-container *ngIf="!(user$ | async)">
        <a class="mx-3" routerLink="/account/login" routerLinkActive="active">Login</a>
        <a class="mx-3" routerLink="/account/register" routerLinkActive="active">Sign up</a>
      </ng-container>
    </div>
  </div>
</nav>


<!-- [ngClass]="basket.items.length > 0 ? 'cart-no' : ''" -->