<nav class="site-header sticky-top py-2">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a routerLink="/" class="logo py-2" aria-label="Product">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img"
                viewBox="0 0 24 24" focusable="false">
                <circle cx="12" cy="12" r="10"></circle>
                <path
                    d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94">
                </path>
            </svg>
            <!-- <img src="assets/logo.png" alt="logo" style="max-height: 2rem;"> -->
        </a>
        <div class="d-flex align-items-center   ">
            <a class="mx-3" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            <a class="mx-3" routerLink="/shop" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Products</a>
            <a class="mx-3" routerLink="/test-error" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">TestError</a>
            <a class="mx-3" href="#">Contact</a>
        </div>
        <div class="d-flex justify-content-between align-items-center links">
            <div class="position-relative mr-5 icon" (click)="navigateToBasket()">
                <i class="fa fa-shopping-cart "></i>
                <div *ngIf="(basket$ | async)?.items.length > 0" class="cart-no">
                    {{(basket$ | async).items.length }}</div>
            </div>
            <a class="mx-3" routerLink="/account/login">Login</a>
            <a class="mx-3" routerLink="/account/register">Sign up</a>
        </div>
    </div>
</nav>


<!-- [ngClass]="basket.items.length > 0 ? 'cart-no' : ''" -->