@import "../../../styles.scss";

a {
  text-decoration: none;
  color: $minty-green;
  &:visited{
    color: $minty-green;
  }


}

.item {
  &:hover {
    // transform: scale(1.01);
    // color: $minty-green;
    font-weight: 600;
  }
  // .ordered{
  //   &:hover {

  //   }
  // }
}