<section class="example-container">
  <!-- <header>
    <h2>Step {{ selectedIndex + 1 }}/{{ steps.length }}</h2>
  </header> -->


  <header class="example-step-navigation-bar">
    <button
      [disabled]="true"
      class="example-step col-3 py-3"
      [class.example-active]="selectedIndex === i"
      *ngFor="let step of steps; let i = index"
      (click)="selectStepByIndex(i)"
      >
        {{step.label | uppercase}}
    </button>
  </header>

  <div [ngTemplateOutlet]="selected ? selected.content : null"></div>

  <!-- <footer class="mt-5 d-flex justify-content-between align-items-end">
    <button class="btn btn-outline-success text-uppercase" cdkStepperPrevious>Previous step</button>
    <button class="btn btn-outline-success text-uppercase" cdkStepperNext>Next step</button>
  </footer> -->
</section>